---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Stars for Schools - About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Stars for Schools is run by a team of dedicated scientists and teachers.</Fragment>
    </Sectionhead>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Core team
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          <ul>
              <li><a href="https://gitlab.com/rob.izzard">Dr. Robert Izzard</a> - <a href="https://www.surrey.ac.uk/">University of Surrey</a></li>
              <li><a href="https://www.linkedin.com/in/andrew-brittain-a06741200/?originalSubdomain=uk">Andy Brittain</a> - <a href="https://www.lehs.org.uk/">Lady Eleanor Holles School</a></li>
          </ul>
      </p>
          </div>
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        Key contributors
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          <ul>
              <li><a href="https://www.linkedin.com/in/sabana-ghale-ba52b1100/">Sabana Ghale</a></li>
              <li><a href="https://www.facebook.com/rahulkakaiya">Rahul Kakaiya</a></li>
              <li><a href="https://www.surrey.ac.uk/people/natalie-rees">Natalie Rees</a></li>
              <li><a href="https://www.linkedin.com/in/arman-aryaeipour/">Arman Aryaeipour</a></li>
              <li><a href="https://www.linkedin.com/in/gemma-kerr-5a9ab2230/">Gemma Kerr</a></li>
              <li><a href="https://www.linkedin.com/in/michael-armstrong-912329215/">Michael Armstrong</a></li>
          </ul>
      </p>
      <h2 class="font-bold text-3xl text-gray-800">
        Supporting institutions
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          <ul>
              <li><a href="http://www.bridgce.ac.uk/">BRIDGCE</a></li>
              <li><a href="https://www.surrey.ac.uk/">University of Surrey</a> - <a href="http://personal.ph.surrey.ac.uk/~ri0005/">Robert Izzard</a></li>
              <li><a href="https://www.surrey.ac.uk/">University of Hertfordshire</a> - <a href="https://www.star.herts.ac.uk/~chiaki/">Chiaki Kobayashi</a></li>
              <li><a href="https://www.bristol.ac.uk">University of Bristol</a> - <a href="https://research-information.bris.ac.uk/en/persons/richard-stancliffe">Richard Stancliffe</a></li>
              <li><a href="https://www.keele.ac.uk">University of Keele</a> - <a href="https://www.keele.ac.uk/scps/ourpeople/physicsandastrophysics/rhirschi/">Raphael Hirschi</a></li>
              <li><a href="https://www.ljmu.ac.uk/">Liverpool John Moores University</a> - <a href="https://www.ljmu.ac.uk/about-us/staff-profiles/faculty-of-engineering-and-technology/astrophysics-research-institute/andreea-font">Andreea Font</a></li>
              <li><a href="https://www.york.ac.uk">The University of York</a> - <a href="https://www.york.ac.uk/physics-engineering-technology/people/christian-diget/">Christian Diget</a></li>
              <li><a href="https://www.exeter.ac.uk/">The University of Exeter</a> - <a href="https://physics-astronomy.exeter.ac.uk/staff/tj294">Tom Joshi-Cale</a></li>
              <li><a href="https://ras.ac.uk/education-and-careers/stars-schools-project">The Royal Astronomical Society</a></li>
              <li><a href="https://www.ukri.org/councils/stfc/">Science and Technology Facilities Council (STFC)</a></li>
          </ul>
      </p>
          
      </div>
      <!--
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
      {
        publishedTeamMembers.map((teamMemberEntry) => (
          <div class="group">
            <div class="w-full aspect-square">
              <Picture
                src={teamMemberEntry.data.avatar.src}
                alt={teamMemberEntry.data.avatar.alt}
                sizes="(max-width - 800px) 100vw, 400px"
                widths={[200, 400]}
                aspectRatio="1:1"
                background="#ffffff"
                fit="cover"
                position="center"
                class="w-full rounded-md rounded transition group-hover:-translate-y-1 group-hover:shadow-xl"
              />
            </div>

            <div class="mt-4 text-center">
              <h2 class="text-lg text-gray-800">
                {teamMemberEntry.data.name}
              </h2>
              <h3 class="text-sm text-slate-500">
                {teamMemberEntry.data.title}
              </h3>
            </div>
          </div>
        ))
      }
    </div>-->
  </Container>
</Layout>
