---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

---

<Layout title="Stars for Schools - Software">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Computing</Fragment>
            <Fragment slot="desc">Stars for Schools uses free, open-source software. For full installation instructions, please consult the <a href="/docs">documentation</a>.</Fragment>
            <br/>
            <Fragment slot="desc">The software should run on most modern hardware, including PCs and Raspberry Pis.</Fragment>
        </Sectionhead>

        <a name="WTTS">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Window to the Stars
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    The <a href="https://r-izzard.surrey.ac.uk/window.html">Window to the Stars</a> software is the main tool used by students in the project. This is a graphical user interface to the <i>TWIN</i> stellar evolution code. You can think of this as like a web browser that makes your stars on a computer. You can read about Window to the Stars at <a href="http://adsabs.harvard.edu/abs/2006NewA...12..161I">Astronomy and Geophysics</a> or <a href="http://adsabs.harvard.edu/abs/2006A%26G....47d..28I">New astronomy</a>.
                </p>
                <p>
       I've made some videos to introduce <i>Window to the Stars</i>: <a href="https://www.youtube.com/watch?v=vS_5Qxzrf6k">part 1</a>, <a href="https://www.youtube.com/watch?v=Sg6DkQnzJh4">part 2</a> and <a href="https://www.youtube.com/watch?v=gR6-_5ZtMQ8">part 3</a>. Hopefully more will follow, if you like them.
                </p>
            </div>
        </a>

        <a name="TWIN">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    TWIN
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    The <i><a href="https://gitlab.com/rob.izzard/TWIN">TWIN</a></i> stellar-evolution code is by Peter Eggleton and Evert Glebbeek. Written in FORTRAN and used by professional astrophysicists, <i>TWIN</i> is a fast, low-resource stellar-evolutionary modelling code that is used as the <a href="https://en.wikipedia.org/wiki/Frontend_and_backend">back-end</a> to <a href="https://r-izzard.surrey.ac.uk/window.html">Window to the Stars</a>.
                </p>
            </div>
        </a>
 
        <a name="raspberrypi">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Raspberry Pi
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    Stars for Schools is provided primarily for the <a href="https://www.raspberrypi.com/products/raspberry-pi-4-model-b/">Raspberry Pi 4 model B</a> or <a href="https://www.raspberrypi.com/products/raspberry-pi-5/">Raspberry Pi 5</a> for which it is installed on a <a href="https://en.wikipedia.org/wiki/SD_card">microSDHC</a> card. You should download the <b>latest</b> image file from Zenodo (<a href="https://zenodo.org/records/10594272">Raspberry Pi 4</a> or <a href="https://zenodo.org/records/10679643">Raspberry Pi 5</a>) and burn to the microSDHC card following <a href="https://www.raspberrypi.org/documentation/installation/installing-images/">these instructions</a>. You then simply place the card in the Raspberry Pi and turn it on. All the required software (<i>Linux</i>, <i>Window to the Stars</i> and <i>TWIN</i>) is on this image alongside the Stars for Schools <a href="/docs">documentation</a>. <br>
                                                                                                                                                         Note: you need other hardware, for example a USB keyboard, a USB mouse and a monitor. We provide HDMI connectors, so please check that your monitors are HDMI compatible. HDMI is standard on almost all monitors made in the last 15 years, but if you want to use a different standard (e.g. VGA or DVI) you will need either a male-micro-HDMI to whatever cable, or a male-HDMI to whatever adapter.
                </p>
            </div>
        </a>

        <a name="virtualbox">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Virtualbox
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    You can install the Window to the Stars software on your own PC using a <a href="https://www.virtualbox.org/">Virtualbox</a> <a href="https://en.wikipedia.org/wiki/Virtual_machine">virtual machine</a> which can be downloaded from <a href="https://figshare.com/articles/dataset/Window_to_the_Stars_2_1/8114201">figshare</a>. Virtualbox works on most operating systems, such as Windows, OSX, Linux, Solaris and OpenSolaris. To run WTTS, you just need to 1) download and install Virtualbox, 2) download the virtual machine from figshare, 3) run Virtualbox and use it to launch the virtual machine. Easy!
                </p>
            </div>
        </a>

        <a name="docker">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Docker
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    You can install the Window to the Stars software on your own PC <a href="https://www.docker.com/">Docker</a>. Please see the  <a href="https://docs.docker.com/get-docker/">instructions for installation of Docker</a> and then run, from a terminal, run the following commands (you will probably want to put these in a script):

                    <pre><tt>
docker volume create wtts_volume
docker run \
       --name=wtts2 \
       -it \
       --rm \
       -e DISPLAY \
       --ipc=host \
       --mount source=wtts_volume,name=/home/wtts/wtts_rundir\
       -v /tmp/.X11-unix:/tmp/.X11-unix \
       -v $HOME/.Xauthority:/home/wtts/.Xauthority \
       robizzard/wtts:latest
                             </tt></pre>
                </p>
            </div>
        </a>

        
        <a name="linux">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Linux, including Raspberry Pis (4 and 5) already with an operating system.
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    You can install Window to the Stars on <a href="https://en.wikipedia.org/wiki/Linux">Linux</a> using the following commands from a terminal. This works on Raspberry Pis with an operating system, e.g. Raspberry Pi OS, already installed, and is a good way to install WTTS2 on a Raspberry Pi 5 which has Raspberry Pi OS pre-installed.
                    <pre><tt>
wget https://r-izzard.surrey.ac.uk/code/wtts2/linux_installer
chmod +x linux_installer
./linux_installer
                         </tt></pre>

                    If you have a problem with installation, instead run this
                                        <pre><tt>
wget https://r-izzard.surrey.ac.uk/code/wtts2/linux_installer
chmod +x linux_installer
./linux_installer 2>&1 | tee installer.log
                                             </tt></pre>
                    This puts the log output into a file <i>installer.log</i> which you can then send to me.
            </div>
            </a>

        <a name="resolution">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Raspberry Pi screen resolution
                </h2>
                <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">

                    To change the resolution, you should do the following:
                    <ul>
                        <li>Open a terminal.</li>
                        <li>Run the command <tt>arandr</tt>. This opens a dialogue box which contains grey boxes that represent your screen(s).</li>
                        <li>Right click on the grey <b>HDMI-1</b> box.</li>
                        <li>Click <b>Resolution</b> then click the required resolution, e.g. <b>1920x1080</b>.</li>
                        <li>Click <i>Apply</i>.</li>
                        <li>Ignore any error: you should see your screen changes its resolution as requested.</li>
                    </ul>
                    <a href="https://christian.amsuess.com/tools/arandr/">arandr homepage.</a>
            </div>
            </a>

            

                <a name="bugfixes">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                    <h2 class="font-bold text-3xl text-gray-800">
                    Bug fixes
                </h2>
                    <p   style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                        From time to time bugs are found, but hopefully we can provide quick fixes.
                    </p>
                <br>
                    <a name="CNUCXbug">
                    <h3 class="font-bold text-gray-800">
                        TWIN CNUCX bug
                    </h3>
                        <p>
                            <b>Note: this bug has been fixed in the latest Zenodo image: please upgrade</b><br>
                        This is a problem where <i>TWIN</i> fails to run because I accidentally gave you a slightly older version of <i>TWIN</i> because the current latest is not quite stable (working on this!). You can downgrade your <tt>TWIN.pm</tt>, the <i>Perl</i> interface module file, by removing references therein to the variables <tt>CNUCX</tt>, <tt>CNUCY</tt>, <tt>CNUCZ</tt> and <tt>CNUCD</tt>. For example, run the following commands from a terminal to do this automatically.
                        <pre><tt>
                                 cd $HOME/perl5/lib/perl5/WTTS_gtk3/ # where TWIN.pm is stored
                                 chmod +w TWIN.pm # make the file writable
                                 sed -i "/\b\(CNUCX\|CNUCY\|CNUCZ\|CNUCD\)\b/d" TWIN.pm # remove broken lines
                                 chmod -r TWIN.pm # remove write permission
                             </tt></pre>
                        Then delete the directory in which you are running <i>WTTS</i> (usually <tt>$HOME/wtts</tt>) and restart <i>WTTS</i>. Once I've managed to fix <i>TWIN</i>, I'll upgrade the image on <i>Zenodo</i>. 
                    </p>
            </a></a>
                    </div>
   </Container>
 </Layout>
