---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Stars for Schools - Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Contact</Fragment>
      <Fragment slot="desc"></Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">Contact Stars for Schools</h2>
          <div class="mt-5">
              General contact point
              <div class="flex items-center mt-2 space-x-2 text-gray-600">
                  <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
                  <a href="mailto:starsforschools@gmail.com">starsforschoolswtts@gmail.com</a>
              </div>
          </div>
          <div class="mt-5">
              Robert Izzard (University of Surrey)</br>
              <div class="flex items-center mt-2 space-x-2 text-gray-600">
              Please use this email address to send material that should remain confidential, such as consent forms and legal text. 
              <br><br>
              </div>
                  <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
                  <a href="mailto:r.izzard@surrey.ac.uk">r.izzard@surrey.ac.uk</a>
              </div>
          <div class="mt-5">
              Andy Brittain (Lady Eleanor Holles School)
              <div class="flex items-center mt-2 space-x-2 text-gray-600">
                  <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" />
                  <a href="mailto:ABrittain@lehs.org.uk">ABrittain@lehs.org.uk</a>
              </div>
          </div>
      </div>
    </div>
  </div>
  </Container>
</Layout>
