---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import docscreenshot from "assets/docscreenshot1.jpg"
---

<Layout title="Stars for Schools - Forms and Administration">
    <style>
        a { color: blue; }
    </style>
    <Container>
        <Sectionhead>
            <Fragment slot="title">Forms and Administration</Fragment>
            <Fragment slot="desc">
                On this page you'll find the various forms and administrative requirements for <i>Stars for Schools</i>.
            </Fragment>
        </Sectionhead>
        
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <p class="text-lg leading-relaxed text-slate-500">
                    We provide <a href="../stars_for_schools.pdf">a detailed guide</a> to using the <i>Window to the Stars</i> software to investigate the physics of stars.
                    This guide is suitable for students with some mathematical and physics knowledge typical of UK school year 10 (aged 14-15) or later.
                    It introduces them to the computational skills and physics of stars as needed, and provides a series of short projects.
                    <br /><br />                                                                                                        The documentation also contains software installation instructions, for installation on a Raspberry Pi, a Windows/Linux/OSX PC running Virtualbox, or using Docker. See also the <a href="software/">software page</a>.
                </p>
            </div>
        <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <p class="text-lg leading-relaxed text-slate-500">
                <a href="@astroimage/assets/docscreenshot1.jpg">
                    <Picture
                        style="display: block; margin-left: auto;  margin-right: auto; "
                        src={docscreenshot}
                        alt="Screenshot of the documentation"
                        sizes="(max-width - 800px) 100vw, 800px"
                        widths={[1000]}
                        aspectRatio="1:1"
                        background="#ffffff"
                        position="center"
                        fit="cover"
                    />
                </a>
            </p>
        </div>
    </Container>
</Layout>
