---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Button from "@components/ui/button.astro";
import Contactform from "@components/contactform.astro";
---

<Layout title="Frequently-asked Questions (FAQ)">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Frequently-asked questions (FAQ)</Fragment>
            <Fragment slot="desc"></Fragment>
        </Sectionhead>

        <a name="whypis">
            <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                <h2 class="font-medium text-2xl text-gray-800">Why Raspberry Pis?</h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    <a href="https://stars_for_schools.gitlab.io/computing/#WTTS"><i>Window to the Stars</i></a> is written in <a href="https://www.perl.org/">Perl</a>, and its underlying stellar-evolution code <a href="https://stars_for_schools.gitlab.io/computing/#TWIN"><i>TWIN</i></a> is written in <a href="https://en.wikipedia.org/wiki/Fortran">Fortran</a>. Professional astrophysicists usually use Unix-like systems, in particular the <a href="https://en.wikipedia.org/wiki/Linux">Linux</a> operating system, when developing such software to model stars, and the <a href="https://en.wikipedia.org/wiki/Raspberry_Pi">Raspberry Pi</a> natively runs Linux as <a href="https://en.wikipedia.org/wiki/Raspberry_Pi_OS">Raspberry Pi OS</a>, a version of <a href="https://en.wikipedia.org/wiki/Debian">Debian</a>. Running software on a separate Raspberry Pi also means it does not have to be installed on a school's PC system. Schools, naturally, have great mistrust of third-party software for which they have not paid a fortune. The Raspberry Pis are isolated units, and if one does not set up their Wifi they have no communication with the outside world at all, so are far less of a security risk.
                    </p>
                    </div>
                    </a>

        <a name="peripherals">
            <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                <h2 class="font-medium text-2xl text-gray-800">Do Raspberry Pis come with peripherals?</h2>
                  <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                      We usually try to source Raspberry Pi 4B (4GB) or Raspberry Pi 5 (4 or 8GB) kits. These come with the Raspberry Pi itself, an SDHC card which is 16GB or more in capacity, an offcial Raspberry Pi USB-C power supply, a 1m HDMI cable and the official Raspberry Pi case. You will need to provide USB keyboards and mice, and an HDMI monitor. These are standard devices in most places, and indeed if you detach them from a Windows PC you are likely doing someone a favour by forcing them to run <i>Window to the Stars</i> instead of Solitaire or Minesweeper.
                  </p>
            </div>
        </a>

        <a name="mustpi">
            <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                <h2 class="font-medium text-2xl text-gray-800">Must I use a Raspberry Pi?</h2>
                        <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                                There is no requirement to use a Raspberry Pi. You have a number of options should you wish not to. First, on both Windows and Mac OSX, you can run a Linux virtual machine in software such as <a href="https://www.virtualbox.org/">Virtualbox</a>. We provide an image for <a href="https://www.virtualbox.org/">Virtualbox</a> which you can just <a href="https://figshare.com/articles/dataset/Window_to_the_Stars_2_1/8114201">download</a> and run. <br> Alternatively, you can compile <a href="https://stars_for_schools.gitlab.io/computing/#TWIN">TWIN</a> and install Perl to run <a href="https://stars_for_schools.gitlab.io/computing/#WTTS">Window to the Stars</a> yourself. This we have done in the distant past natively on Windows using <a href="https://www.activestate.com/products/perl/">ActiveState Perl</a> and the <a href="https://gcc.gnu.org/fortran/">GNU Fortran compiler</a>, but with the <a href="https://learn.microsoft.com/en-us/windows/wsl/install">Windows Subsystem for Linux</a> this should also be relatively straightforward. <br> You can also install <a href="https://stars_for_schools.gitlab.io/computing/#WTTS">Window to the Stars</a> and <a href="https://stars_for_schools.gitlab.io/computing/#TWIN">TWIN</a> on your own Linux PC. We developed the software on various forms of Linux, including Mint, Linux and Kubuntu, and all you need are open-source tools such as <a href="https://www.perl.org/">Perl</a>, <a href="https://gcc.gnu.org/fortran/">GNU Fortran</a> and <a href="https://www.gnuplot.info/">Gnuplot</a>. These are trivial to install on Linux.
     </p>
            </div>
                        </a>

               
                <a name="touchscreen">
                    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                        <h2 class="font-medium text-2xl text-gray-800">Can I use a touchscreen with the Pi?</h2>
                        <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                            There is no reason why a touchscreen would not work, but naturally these tend to be of lower resiolution than a traditional monitor. Please let us know if you try this, we're curious as to how well it works. 
                            </p>
                            </div>
                            </a>

              <a name="opensource">
                   <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                       <h2 class="font-medium text-2xl text-gray-800">Can anyone download and use the software and documentation?</h2>
                       <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                           Yes! <br><a href="https://stars_for_schools.gitlab.io/computing/#WTTS"><i>Window to the Stars</i></a> was written by Robert Izzard, while <a href="https://stars_for_schools.gitlab.io/computing/#TWIN"><i>TWIN</i></a> was very kindly donated by Peter Eggleton. You can download the software for free, and similarly the <a href="https://stars_for_schools.gitlab.io/docs/">Stars for Schools documentation</a> is yours to download. You can then do whatever you like with them. The <a href="https://en.wikipedia.org/wiki/Open-source_software">open-source revolution</a> continues here! Please note that, because the software and documentation is open source, the authors take <i>no responsibility</i> for anything you do with it.
                                </p>
                       </div>
                   </a>
                  <a name="languages">
                      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                          <h2 class="font-medium text-2xl text-gray-800">Are there non-English versions?</h2>
                          <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                                     Not yet, but if you have time to translate the documentation into your language, please let us know so we can make this freely available on the website. Many thanks in advance!
                           </p>
                            </div>
                            </a>

                  <a name="travel-Surrey">
                      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                          <h2 class="font-medium text-2xl text-gray-800">I am at Surrey, how do I book train tickets?</h2>
                          <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
               Please use <a href="https://claritybusinesstravel.com/why-us/data-and-insight/go2book/">Go2Book</a>. You should never trust a company with a number in its name, but...
                           </p>
                            </div>
                            </a>

                  <a name="hardware requirements">
                      <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
                          <h2 class="font-medium text-2xl text-gray-800">What hardware do I need to connect to a Raspberry Pi</h2>
                          <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
  You need a USB keyboard, a USB mouse and a monitor. We provide HDMI connectors, so please check that your monitors are HDMI compatible. HDMI is standard on almost all monitors made in the last 15 years, but if you want to use a different standard (e.g. VGA or DVI) you will need either a male-micro-HDMI to whatever cable, or a male-HDMI to whatever adapter.
                           </p>
                            </div>
                            </a>


     <!--
                        <div class="mt-5">
                            <div class="flex items-center mt-2 space-x-2 text-gray-600">
                            </div>
                        </div>
                        -->
            </div>
        </div>
    </div>
</Container>
</Layout>
