---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import docscreenshot from "assets/docscreenshot1.jpg"

---

<Layout title="Stars for Schools - Forms and Administration Joy">
    <style>
        a { color: blue; }
    </style>
    <Container>
        <Sectionhead>
            <Fragment slot="title">Forms and Administration</Fragment>
            <Fragment slot="desc">
                On this page you'll find the various forms and administrative requirements for <i>Stars for Schools</i>.
            </Fragment>
        </Sectionhead>
 
        <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <h2><b>Participant Information Sheets</b></h2>
            <p class="text-lg leading-relaxed text-slate-500">
                <ul class='List' style="list-style-type: circle;">
                    <li><a href="/doc/Stars_for_Schools-Participant_Information_Sheet-16+_V1.0.pdf">Participant 16+</a></li>
                    <li><a href="/doc/Stars_for_Schools-Participant_Information_Sheet-under16_V1.0.pdf">Participant under-16</a></li>
                    <li><a href="/doc/Stars_for_Schools-Participant_Information_Sheet-parent_V1.0.pdf">Parent</a></li>
                </ul>
            </p>
        </div>
        <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <h2><b>Consent Forms</b></h2>
            <p class="text-lg leading-relaxed text-slate-500">
                <ul class='List' style="list-style-type: circle;">
                    <li><a href="/doc/Stars_for_Schools-Consent_form-pariticpant_16+_V1.0.pdf">Participant 16+</a></li>
                    <li><a href="/doc/Stars_for_Schools-Consent_form-pariticpant-under16_V1.0.pdf">Participant under-16</a></li>
                    <li><a href="/doc/Stars_for_Schools-Consent_form-parent_V1.0.pdf">Parent</a></li>
                </ul>
            </p>
        </div>
        <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <h2><b>Questionnaire</b></h2>
            <p class="text-lg leading-relaxed text-slate-500">
                <ul class='List' style="list-style-type: circle;">
                    <li><a href="/doc/Stars_for_Schools-Questionnaire_V1.0.pdf">Starting Questionnaire</a></li>
                </ul>
            </p>
        </div>
        <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <h2><b>Raspberry Pi Loan Agreemment</b></h2>
            <p class="text-lg leading-relaxed text-slate-500">
                <ul class='List' style="list-style-type: circle;">
                    <li><a href="/doc/RaspberryPiAgreement.pdf">Loan agreement</a></li>
                </ul>
            </p>
        </div>
        <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <h2><b>Recruitment</b></h2>
            <p class="text-lg leading-relaxed text-slate-500">
                <ul class='List' style="list-style-type: circle;">
                    <li><a href="/doc/Stars_for_Schools-Recruitment_V1.0.pdf">Recruitment notice</a></li>
                </ul>
            </p>
        </div>

         <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <p class="text-lg leading-relaxed text-slate-500">
                Stars for Schools mentors should apply for a Disclosure and Barring Service (DBS) check from the
                <a href="https://www.gov.uk/request-copy-criminal-record">UK Government DBS check website</a>.
            </p>
         </div>

         <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
            <p class="text-lg leading-relaxed text-slate-500">
                Expenses, arranged in advance with the programme leader, can be claimed from the Maths and Physics office at the University of Surrey using a "Visitors' Expenses" form. Valid expenses are currently: travel costs (e.g. to and from local schools running the programme) and DBS checks. 
            </p>
         </div>
    </Container>
</Layout>
