---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon";

---

<Layout title="Stars for Schools - Funding">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Funding</Fragment>
            <Fragment slot="desc"></Fragment>
        </Sectionhead>


        <a name="STFC">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    STFC Spark grant 2023-26
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    Stars for Schools funded by an <a href="https://www.ukri.org/opportunity/stfc-spark-awards/">STFC Spark grant</a> awarded to Dr Robert Izzard in January 2023. We can use this to fund the purchase of Raspberry Pi computers, some travel to and from schools, and other miscellaneous expenses (on request).
                </p>
            </div>
        </a>

        <a name="RS">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Royal Society
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    The <a href="https://royalsociety.org/grants-schemes-awards/">Royal Society</a> has grant money available for schools. Please contact us should you wish to apply for this, as we will need to assign a mentor to your school in advance of the application.
                </p>
            </div>
        </a>

    </Container>
</Layout>
