---
import Container from "@components/container.astro";
import Footer from "@components/footer.astro";
import SFS from "@components/SFS.astro";
import News from "@components/news.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="">
  <Container>
    <SFS />
    <News />
  </Container>
</Layout>
