---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import SYM1 from "assets/Sym2024_1.jpeg"
import LEHS1 from "assets/LEHS1.jpeg"
import LEHS2 from "assets/LEHS2.jpeg"
import LEHS3 from "assets/LEHS3.jpeg"

// Filter team entries with 'draft: false' & date before current date
const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Stars for Schools - News">
  <Container>
    <Sectionhead>
      <Fragment slot="title">News</Fragment>
      <Fragment slot="desc">The latest news from Stars for Schools.</Fragment>
    </Sectionhead>
       <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              2nd November 2024
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              <i>Window to the Stars</i> symposium at <a href="https://www.lehs.org.uk/">Lady Eleanor Holles School</a>, Hampton, 1100-1400. Please contact Andy Brittain to sign up!
          </p>
       </div>
       <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              23rd June 2024
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              <i>Window to the Stars</i> symposium at <a href="https://www.lehs.org.uk/">Lady Eleanor Holles School</a>, Hampton.
              <Picture
                  style="display: block; margin-left: auto;  margin-right: auto; "
                  src={SYM1}
                  alt="Symposium 2024 (1)"
                  sizes="(max-width - 800px) 100vw, 300px"
                  widths={[1000]}
                  aspectRatio="1:1"
                  background="#ffffff"
                  position="center"
                  fit="cover"
                  style="display:inline;"
              /><Picture
                    style="display: block; margin-left: auto;  margin-right: auto; "
                    src={LEHS1}
                    alt="Symposium 2024 at LEHS 1"
                    sizes="(max-width - 800px) 100vw, 300px"
                    widths={[1000]}
                    aspectRatio="1:1"
                    background="#ffffff"
                    position="center"
                    fit="cover"
                    style="display:inline;"
                />
              <Picture
                  style="display: block; margin-left: auto;  margin-right: auto; "
                  src={LEHS2}
                  alt="Symposium 2024 at LEHS 2"
                  sizes="(max-width - 800px) 100vw, 300px"
                  widths={[1000]}
                  aspectRatio="1:1"
                  background="#ffffff"
                  position="center"
                  fit="cover"
                  style="display:inline;"
              />
              <Picture
                  style="display: block; margin-left: auto;  margin-right: auto; "
                  src={LEHS3}
                  alt="Symposium 2024 at LEHS 3 (Rob giving a pep talk)"
                  sizes="(max-width - 800px) 100vw, 300px"
                  widths={[1000]}
                  aspectRatio="1:1"
                  background="#ffffff"
                  position="center"
                  style="display:inline;"
              />
          </p>
       </div>
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              10th March 2024
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              We had a visit from students of <a href="https://www.alexandrapark.school/">Alexandra Park school</a> and <a href="https://nextkbh.dk/gymnasier/vibenshus-gymnasium">Vibenshus Gymnasium Copenhagen</a>, organised by the <a href="https://www.surrey.ac.uk/astrophysics-research-group">astrophysics</a> group at the <a href="https://www.surrey.ac.uk">University of Surrey</a> - thanks especially to Susan Hutton and Noelia Noel the excellcent local support. This couldn't have been arranged without <i>Stars for Schools</i> showing that as well as the stellar astrophysics, the project acts as an excellent networking service for schools and universities alike. 
          </p>
      </div>
       <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              23rd February 2024
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              I've made some videos to introduce <i>Window to the Stars</i>: <a href="https://www.youtube.com/watch?v=vS_5Qxzrf6k">part 1</a>, <a href="https://www.youtube.com/watch?v=Sg6DkQnzJh4">part 2</a> and <a href="https://www.youtube.com/watch?v=gR6-_5ZtMQ8">part 3</a>. Hopefully more will follow, if you like them.
          </p>
      </div>
       <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              19th February 2024
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              WTTS version has been upgraded to 2.2, fixing several known (minor!) bugs. A Raspberry Pi 5 image is now available at <a href="https://zenodo.org/records/10679643">Zenodo</a>.
          </p>
      </div>
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              16th January 2024
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              New year's resolution (changes). I've added <a href="/computing/#resolution">a section</a> to the computing page describing how to change the screen resolution on the Raspberry Pi without root access. 
          </p>
      </div>
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              11th January 2024
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              Happy new year everyone! Let's start first with a bug fix, something we're happy to provide. You can find a fix <a href="/computing/#CNUCXbug">here</a>. 
          </p>
      </div>
      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
          <h2 class="font-bold text-3xl text-gray-800">
              13th November 2023
          </h2>
          <p class="text-lg leading-relaxed text-slate-500">
              After some woes trying to obtain the correct power supplies, the Raspberry Pis have been installed, tested (PAT and software), and are ready to go. I am putting mentors and their schools in touch today, be prepared to set up the first meeting!
          </p>
      </div>
    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
          2nd October 2023
          </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          The Raspberry Pis have arrived! However, the SD cards are still on their way... please bear with us while we wait.
      </p>
    </div>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        15th September 2023
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          Ethics clearance is very close! We can start the important aspects of the project as soon as this is ready. There were internal delays at the university, but these have been worked around. As a result, the first batch of Raspberry Pis is now on order for those schools who want to start immediately. I don't know when they will arrive, but hopefully soon.
          </p>

    <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
      <h2 class="font-bold text-3xl text-gray-800">
        7th February 2023
      </h2>
      <p class="text-lg leading-relaxed text-slate-500">
          Great news: we have been awarded an <a href="https://www.ukri.org/councils/stfc/">STFC</a> Spark grant! This money will enable the purchase of Raspberry Pi computers and cover some transport costs. Many thanks to <a href="https://www.ukri.org/councils/stfc/">STFC</a>. One requirement of this is that I put the programme through Surrey University's ethics people. An initial set of forms has been submitted, I will let you know their progress as soon as I know.
      </p>
    </div>
  </Container>
</Layout>
