---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon";
---

<Layout title="Stars for Schools - Take Part">
    <Container>
        <Sectionhead>
            <Fragment slot="title">Take part</Fragment>
            <Fragment slot="desc">Stars for Schools is open to all secondary schools in the United Kingom. <br>The programme also cannot function without the help of physics academics and students who act as mentors, i.e. first points of contact, for the schools. </Fragment>
        </Sectionhead>

        <a name="schools">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Schools
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    Completing the work takes about 1-2hr of student time per week over approximately 12 weeks, and can be done both in school and at home. We usually recommend splitting the work over two terms but one is also possible. The best years for trying Stars for Schools are probably those without examinations, that is the lower-5th (UK year 10, age 14-15) or lower-6th (UK year 12, age 16-17).
                    <br/><br/>
                    We aim to have mentors, who are professional physicsists or physics students, visit schools regularly to help both teachers and students set up, progress and assess the programme. Virtual visits and contact by email are available at other times. Please note that while we aim for visits at least at the start and end of the term, your mentor is probably coming to see you <i>voluntarily</i> in addition to their full-time job. Please talk with them regarding their availability.
                    <br/><br/>
                    We have limited funding available from our <a href="https://www.ukri.org/opportunity/stfc-spark-awards/">STFC Spark grant</a> (2023-26). The <a href="https://royalsociety.org/grants-schemes-awards/">Royal Society</a> also has money available which has to be applied for by the school, although we, and they, can help with this. 
                    <br/><br/>
                    If you would like to take part, please <a href="contact/">contact us</a>.
                    <br/><br/>
                    <b>Admininstration</b>
                    Prior to starting the programme, the following administrative and technical steps should be taken. These are relatively simple but necessary according to our ethics guidance. The forms and sheets are at <a href="/forms">this page</a>. Forms should be given to mentors or <a href="contact/">emailed to the programme leader</a>.
                    <ul class='List' style="list-style-type: circle;">
                        <li>We require gatekeeper permission in email or written form, and the school should advise us of any other requirements they may have.</li>
                        <li>Participants (school students) and their parents/guardians should be given copies of the Participant Information Sheets and Consent Forms. These must be signed before we can begin.</li>
                        <li>At the beginning of the programme, participants should fill in the starting questionnaire which should be returned to the school's mentor or by email to the programme leader.</li>
                        <li>Schools should complete the Raspberry Pi Loan agreement prior to receiving any hardware.</li>
                        <li>Schools should make sure they have the required computing hardware: USB keyboards and mice, and HDMI-compatible montiors. Other monitor connections (e.g. VGA and DVI) require an adapter or male micro-HDMI to whatever cable.  
                    </ul>
                </p>
            </div>
        </a>

        <a name="universities">
            <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
                <h2 class="font-bold text-3xl text-gray-800">
                    Universities
                </h2>
                <p style="text-align: justify;" class="text-lg leading-relaxed text-slate-500">
                    Stars for Schools could not function without professional physicists and students acting as mentors to the students at schools. The aim is to visit local schools often, in an ideal world once per month (but please discuss with your school), to guide the teachers when starting the programme and help students progress through it. Mentors need to know undergraduate-level stellar astrophysics but without calculus. We provide training for the technical aspects of the programme. 
                    <br/><br/>
                    We currently have the support of people from the universities of Surrey, Bristol, Hertfordshire, Keele, Liverpool John Moores, York, Cambridge and Exeter. Many thanks to all!
                    <br/><br/>
                    To participate, please contact us, and also note that we require a letter of permission to work on the project from a supervisor or line manager.
                    <br/><br/>
                    Mentors visit schools under the authority and regulations of their employer and should consult them for general outreach and safeguarding training, and any other similar requirements, prior to visiting schools. We ask that mentors have recent <a href="https://www.gov.uk/request-copy-criminal-record">DBS checks</a>: please send a copy to the programme leader.
                    <br/><br/>
                    The various forms for partipants, parents, consent, data management etc. are at <a href="/forms">this page</a>.  
                </p>
            </div>
        </a>
    </Container>
</Layout>
