---
import Container from "@components/container.astro";
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

import scalesImage from "assets/scales-transparent.png";
import wttsImage from "assets/WTTS_icon-1200.png";

const menuitems = [
   {
    title: "News",
    path: "/news",
  },
  {
    title: "Take part",
    children: [
        { title: "Overview", path: "/takepart" },
        { title: "Schools", path: "/takepart/#schools" },
        { title: "Universities", path: "/takepart/#universities" },
        { title: "Mentors", path: "/mentors" }
    ],
  },
    {
    title: "Computing",
    path: "/computing",
    children: [
      { title: "Overview", path: "/computing/" },
      { title: "Window to the Stars", path: "/computing/#WTTS" },
      { title: "TWIN", path: "/computing/#TWIN" },
        { title: "Raspberry Pi", path: "/computing/#raspberrypi" },
        { title: "Virtualbox", path: "/computing/#virtualbox" },
        { title: "Docker", path: "/computing/#docker" },
        { title: "Linux", path: "/computing/#linux" },
    ],
  },
  {
    title: "Docs",
    children: [
        { title: "Course Guide", path: "/guide" },
        { title: "Forms/Admin", path: "/forms" },
        { title: "FAQ", path: "/faq" },
    ],
  },
    {
        title: "Funding",
        path: "/funding",
    },
    {
        title: "About",
        path: "/about",
    },
    {
        title: "Contact",
        path: "/contact",
    },
];
---

<Container>
    <header class="flex flex-col lg:flex-row justify-between items-center my-5">
        <Astronav closeOnClick>
            <div id="parent" style="text-align: center; border-style: solid;">
                <div style="text-align: center; border-style: solid;">
                    <a href="/">
                    <Picture
                        src={wttsImage}
                        alt="Window to the Stars"
                        widths={[150]}
                        sizes="(max-width: 150px) 100vw, 150px"
                        loading="eager"
                        format="avif"
                    />
                    </a>
                </div>
                <div style="text-align: center; border-style: solid;" class="flex w-full lg:w-auto items-center justify-between">
                    <span class="font-bold text-slate-800">Stars</span>
                    <span class="text-slate-500">for</span>
                    <span class="font-bold text-slate-800">Schools</span>
                </div>
                <div class="block lg:hidden">
                    <MenuIcon class="w-4 h-4 text-gray-800" />
                </div>
            </div>
        </div>
        <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
                {
                        menuitems.map((item, index) => (
                            <>
                                {item.children && (
                                    <Dropdown
                                        title={item.title}
                                        children={item.children}
                                        lastItem={index === menuitems.length - 1}
                                    />
                                )}

                                {!item.children && (
                                    <li>
                                        <a
                                            href={item.path}
                                            class="flex lg:px-3 py-2 text-gray-600 hover:text-gray-900">
                                            {item.title}
                                        </a>
                                    </li>
                                )}
                            </>
                        ))
                    }
            </ul>
        </MenuItems>
        <div class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <Picture
            src={scalesImage}
            alt="Nuclear scales"
            widths={[150]}
            sizes="(max-width: 100px) 100vw, 200px"
            loading="eager"
            format="avif"
            />
        </div>
        </Astronav>

    </header>
</Container>
