---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
    {
        title: "Software",
        description:
        "The <A HREF='https://r-izzard.surrey.ac.uk/window.html'><I>Window to the Stars</I></A> software is the main tool used by students in the project. This is a graphical user interface to the <A HREF='https://gitlab.com/rob.izzard/TWIN'>TWIN</A> stellar evolution code which is software used by professional astrophysicists. You can think of this as like a web browser that makes your stars on a computer. The software is provided as a <A HREF='https://www.raspberrypi.com/news/raspberry-pi-imager-imaging-utility/'>Raspberry Pi image</A> or a virtual machine for use with <A HREF='https://www.virtualbox.org/'>VirtualBox</A>.",
        link: "software.html",
        icon: "bx:bxs-briefcase",
    },
    {
        title: "100% Static HTML, No JS",
        description:
        "Astro renders your entire page to static HTML, removing all JavaScript from your final build by default.",
        icon: "bx:bxs-window-alt",
    },
    {
        title: "On-Demand Components",
        description:
        "Need some JS? Astro can automatically hydrate interactive components when they become visible on the page.  ",
        icon: "bx:bxs-data",
    },
    {
        title: "Broad Integration",
        description:
        "Astro supports TypeScript, Scoped CSS, CSS Modules, Sass, Tailwind, Markdown, MDX, and any other npm packages.",
        icon: "bx:bxs-bot",
    },
    {
        title: "SEO Enabled",
        description:
        "Automatic sitemaps, RSS feeds, pagination and collections take the pain out of SEO and syndication. It just works!",
        icon: "bx:bxs-file-find",
    },
    {
        title: "Community",
        description:
        "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
        icon: "bx:bxs-user",
    },
];
---

<div class="mt-16 md:mt-0">
    <h3 class="text-4xl lg:text-3xl font-bold lg:tracking-tight">
        Would you like to help?
    </h3>
    <p class="text-lg mt-4 text-slate-600">
        We are currently seeking academic partners from primarily UK institutions to spread the good word of <b><i>Stars for Schools</i></b>.
        <ul style="list-style-type: disc; list-style-position: inside;">
            <li>Are you a professional astrophysicist interested in working with a local school to provide astrophysics and astronomy edcuation?</li>
            <li>Do you have members of your team, such as PhD students, who would greatly benefit from this experience?</li>
            <li>Are you teaching at a school that wants to be involved and you need a local partner?</li>
        </ul>
    If any of these are true then please get in touch by email <a "mailto:starsforschoolswtts@gmail.com">starsforschoolswtts@gmail.com</a> and we will organise the material and training, and try to find local academic help for you.
</p>
</div>

<br/>
Comments from <b><i>Stars for Schools</i></b> students at <a href="https://www.lehs.org.uk/">LEHS</a>:
<ul style="list-style-type: disc; list-style-position: inside;">
<li><i>I wanted to study A-level physics and maths, and this definitely confirmed my choices.</i></li>
<li><i>Now I'm definitely considering studying physics at university.</i></li>
<li><i>I do computer science GCSE but Stars for Schools was the only chance that we've had to learn Python. I'm now doing a project with its graphical library modelling a ball dropping under gravity.</i></li>
<li><i>I think this project really opened my eyes to how many similar projects I could find and really pushed me to try and find those opportunities.</i></li>
<li><i>I think it's projects like this that show people what can be done.</i></li>
</ul>

    <!--
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
    {
        features.map((item) => (
            <div class="flex gap-4 items-start">
                <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
                    <Icon class="text-white" name={item.icon} />
                </div>
                <div>
                    <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
                    <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
                </div>
            </div>
        ))
    }
</div>
-->
