---
import { Picture } from "@astrojs/image/components";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
---

<main class="grid lg:grid-cols-1 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
    <div>
        <h1
            class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
            Stars for Schools
        </h1>
        <p class="text-lg mt-4 text-slate-600 max-w-xl" style="text-align: justify;text-justify: inter-word;">
            <!--
            <i>Stars for Schools</i> is a research project for school years 10-13 (ages 14-18). It involves investigating how stars evolve using software and coding on the <a href="https://www.raspberrypi.org/">Raspberry Pi</a>. Students  carry out short research projects, each of which investigates one aspect of the physics or a historical discovery in stellar astronomy.
            <br/><br/>
            The programme aims both to educate and demonstrate the physical and mathematical beauty of the stars in our sky. Stars are unique laboratories that feel the influence of all physics from tiny-scale quantum mechanics to large-scale general relatively.
            -->

            Join us in a fascinating journey with <i>Stars for Schools</i>, a carefully-crafted research project designed for students aged 14-18 (school years 10-13). Step into the intriguing world of stellar evolution using advanced software and coding on the <a href="https://www.raspberrypi.org/">Raspberry Pi</a> as we uncover the fundamental mysteries of the cosmos. Within this comprehensive programme, students will take part in short research projects, each aimed at revealing a different aspect of the vast celestial world.
            <br/><br/>
            Our main goals are simple: to educate and inspire, by revealing the incredible beauty of the stars that light up our night sky. Stars serve as cosmic laboratories where the full range of physics unfolds, from the intricacies of quantum mechanics to the grandeur of general relativity.
            <br/><br/>
            Come and be part of this extraordinary cosmic adventure. Let the wonders of the stars ignite your passion for science and exploration. Discover the Universe's hidden secrets with <i>Stars for Schools</i> and observe the cosmos like never before. The core team is based at the <a href="https://www.surrey.ac.uk/">University of Surrey</a>, and we have contacts around the UK and the rest of the world who can help you.
        </p>
    </div>
</main>
